.hero-image {
    position: relative;
}

.hero-image .bg-big {
    background-size: 70%;
    background-position: center right;
    background-repeat: no-repeat;
    height: 500px;
    width:100%;
}

.search-filter {
   margin-top: 200px;
}

.p-featured {
    overflow: auto;
    overflow: y-hidden;
}

.property-container {
    width:350px;
    
}

.property-container .p-image {
    height: 200px;
}

.p-description {
    position: relative;
    height: 160px;
}

.p-tech-details {
    position: absolute;
    bottom:0;
    width:100%;
}

.p-tech-label {
    font-size:10px;
}

.p-price {
    font-size: 28px;
}

.banner {
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.featured-post {
    background-color: #ffffe8;
}