.hero-image {
    position: relative;
}

.hero-image .bg-big {
    position: relative !important;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 600px;
    width:100%;
    z-index: 1;
}

.hero-image-mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width:100%;
    top:0;
    left:0;
    z-index: -11;
}

.search-filter {
    z-index: -8;
}

.search-filter select, .search-filter input {
    border: 0 !important;
    border-radius: 0;
    outline: none !important;
}

.filter-container {
    position: relative;
    z-index:9;
}

.p-featured {
   overflow: y-hidden;
}

.property-container {
    width:350px;
    
}

.property-container .p-image {
    height: 200px;
}

.p-title {
    line-height: 1.4;
}

.p-description {
    position: relative;
    height: 185px;
}

.p-tech-details {
    position: absolute;
    bottom:0;
    width:100%;
}

.p-tech-label {
    font-size:10px;
}

.p-price {
    font-size: 26px;
}

.banner {
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.featured-post {
    background-color:#fdf2e2;
}

